.button1 {
  /* linear-gradient(to right,#f9897d 0%,#fd5f87 100%); */
  border-radius: 3px !important;
  padding: 8px 30px !important;
  color: white !important;
  background-color: lightpink;
}

.slick-slide > div {
  margin: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}

.slickbuttonprev {
  left: -25px !important;

  top: 40% !important;
  z-index: 1000 !important;
  position: absolute !important;
  margin: auto;
  border-radius: 50% !important;
  background-color: transparent !important;
  display: block;
  position: absolute;
}

.slickbuttonnext {
  display: block;
  position: absolute;
  right: -25px !important;
  top: 40% !important;
  z-index: 1000 !important;
  position: absolute;

  margin: auto;
  border-radius: 50% !important;
  background-color: transparent !important;
}
